{% extends "app/base.html" %}
{% block content %}
<div class="container col-6"  style="margin-top: 65px;">
    <div class="block-heading" style="margin-top: 0px;padding-top: 28px;">
        <h2 class="text-info" style="/*font-size: 25.4px;*/text-align: center;">"Who's Here To Help?"</h2>
        <p style="text-align: center;">Support When You Need It</p>
    </div>
    <section>
        {% for authority in authorities %}
            <div class="card"><img class="card-img-top w-100 d-block" src="{{ authority.image.url }}" alt="{{ authority.name }} logo">
                <div class="card-body">
                    <h4 class="card-title">ZESCO</h4>
                    <p class="card-text">{{ authority.description }}</p>
                    <button class="btn btn-primary" type="button">
                        <a href="{% url 'authority_detail' authority.pk %}">View Contact and Address</a>
                    </button>
                </div>
            </div>
        {% endfor %}
    </section>
</div>
{% endblock %}


