{% extends "app/base.html" %}
{% block content %}
<main class="page landing-page"></main>
    <section class="clean-block clean-form dark">
        <div class="container" style="margin-top: 2rem;">
            <div class="block-heading">
                <h2 class="text-info" style="font-size: 20.4px;">Want to generate a report ?</h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3"><label for="title"></label><input class="form-control" type="text" id="title" name="title" data-bs-theme="light" placeholder="Report TItle"></div>
                <div class="mb-3"><label for="location"></label><input class="form-control" type="text" id="location" name="location" data-bs-theme="light" placeholder="Location ( Kalingalinga , Chalala)"></div>
                <div class="mb-3">
                    <label for="report_type"></label>
                    <select class="form-select"  id="report_type" name="report_type" required>
                    <option value="Type1">What type of problem?</option>
                    <option value="Type2">Powerline failuer</option>
                    <option value="Type3">Financial Crime</option>
                    <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="mb-3"><label for="description"></label><textarea class="form-control" id="description" name="description" data-bs-theme="light" placeholder="Report Description"></textarea></div>
                <div class="mb-3"><label for="image">Upload Image</label><input class="form-control" type="file" id="image" name="image" data-bs-theme="light" placeholder="Upload Image"></div>
                <div class="mb-3"><label for="image">Upload Video</label><input class="form-control" type="file" id="video" name="video" data-bs-theme="light" placeholder="Upload Image"></div>
                
                
                <center>
                    <select class="form-select" style="width: 50%;">
                        <option value="12" selected="">Send to</option>
                        <option value="13">ZESCO</option>
                        <option value="14">ACC</option>
                    </select>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </center>
            </form>
        </div>
    </section>
{% endblock %}


